<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">A.O.R</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/artista">Artistas
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a routerLink="/album">Album</a>
        </li>
        <li class="dropdown" appCombobox>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genero
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Pop AOR / Westcoast</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Melodic Rock / AOR </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">80s Hard Rock</a>
            </li>
          </ul>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Otro</a>
        </li>

        <li class="dropdown" appCombobox>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Entrar</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Salir</a>
            </li>
          </ul>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>