<div class="row">
  <div class="col-xs-12">
    
    <!-- Inicio  Data Table -->
    <!-- Uso del pipe de filtrado -->
    <table class="table table-striped" [mfData]="artista?.albums" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
        <tr>
          <th colspan="3">
            <input class="form-control" [(ngModel)]="filterQuery" placeholder="Buscar en esta lista" />
          </th>
        </tr>
        <tr>
          <th>
            #
          </th>
          <th>
            <mfDefaultSorter by="Nombre">Nombre</mfDefaultSorter>
          </th>  
          <th class="text-center">
            <mfDefaultSorter by="Año">Año</mfDefaultSorter>
          </th>       
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let p of mf.data; let i = index" [attr.data-index]="i" style="cursor: pointer" >
          <td>{{i + 1}}</td>
          <td>{{p.nombre}}</td>  
          <td class="text-center">{{p.anho}}</td>       
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
       <!-- Fin  Data Table -->
  </div>
</div>