<div class="container">
  <div class="row">
    <li *ngFor="let e of artistas">

  



        <div class="card">

          <img [src]="e.urlFoto" alt="Card image cap" width="40%" height="650%">
         <!-- <label class="text-light date text-center">{{e.id}}</label> -->
          <div class="card-block">
            <h4 class="text-light">{{e.nombre}}</h4>
            <p>{{e.descripcion}}</p>
            <button type="button" (click)="navegar(e.id)" routerLinkActive="active" class="btn btn-warning text-light">Leer mas</button>
          </div>
        </div>




  
    </li>
  </div>
</div>